body {
    font-family: 'Open Sans', sans-serif;
    background: #2C2B3D;
    min-height: 100vh;
}

.page {
    width: 1280px;
    padding-top: 71px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 101px;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
    align-items: center;

    margin: 0;
    padding: 0;

}

a {
    color: #FFF;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

ul li a:hover{
    font-weight: bold;
    background: rgba(0, 191, 166, 0.3);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: #FFF;
    font-weight: 700;
    font-family: 'JetBrains Mono', monospace;;
}

h1 span {
    color: #00BFA6;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

section {
    width: 614px;

}

p {
    font-size: 16px;
    line-height: 28px;  
    color: #C2C2C2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}

footer {
    width: 568px;
    margin: 157px auto 0;

    color: #FFF;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 194px;
}

#cadeado {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

footer hr {
    border: 1px solid #00BFA6;
    margin-bottom: 27px;
}

